<template lang="pug">
header.header.container
  .header__left
    .header__logo
        img(src="/frontend/img/logo/logo.svg")
    .header__address
      input.field.header__field-mark(placeholder="Введите адрес доставки")
      button.btn.header__btn

  .header__right
    .header__search
      input.field.header__field-search
      button.btn Поиск
    .header__entry
      img.header__img(src="/frontend/img/icons/entry.svg")
      button.btn Войти
    .header__cart
      img(src="/frontend/img/icons/cart.svg")
</template>

<style lang="stylus">
$speed = .3s

.header
  display flex
  justify-content space-between
  height 90px

  &__left
    display flex
    align-items center

  &__right
    display flex
    align-items center

  &__logo
    margin-right 130px

  &__field-mark
    width 400px
    background url('/frontend/img/icons/cil_location-pin.svg') 5px no-repeat transparent
    transition $speed

  &__field-mark:focus
    border-top-left-radius 5px
    border-bottom-left-radius 5px
    background-color #F5F5F5

  &__address
    display flex

  &__btn
    width 40px
    opacity 0
    border-top-right-radius 5px
    border-bottom-right-radius 5px
    background-color #F5F5F5
    background url('/frontend/img/icons/close.svg') center no-repeat #F5F5F5
    position relative
    transition $speed

  &__btn::before
    content ''
    width 30px
    height 1px
    position absolute
    left -15px
    background-color #c4c4c4
    transform rotate(90deg)

  &__search
    margin-right 75px

  &__field-search
    width 0
    margin-right 5px
    background url('/frontend/img/icons/search.svg') 10px no-repeat

  &__field-search:focus
    border-top-left-radius 5px
    border-bottom-left-radius 5px
    background-color #F5F5F5

  &__field-mark:focus ~ .header__btn
    opacity 1

  &__img
    margin-right 14px

  &__entry
    display flex
    margin-right 75px

</style>
