<template lang="pug">
nav.nav
    ul.nav__list.container
      li(v-for="item in menuList")
        nuxt-link.nav__link(to="/") {{ item }}
      li.nav__link Еще
</template>

<script>
export default {
  data: () => ({
    menuList: [
      'Все',
      'Суши',
      'Пицца',
      'Бургеры',
      'Фастфуд',
      'Шашлыки',
      'Азиатская',
      'Десерты',
      'Здоровая еда'
    ]
  })
}
</script>

<style lang="stylus">
.nav
  background-color #9CCB3B

  &__list
    display flex
    padding 10px 0

  &__link
    width 140px
    height 40px
    display flex
    align-items center
    font-weight bold
    border-radius 5px
    justify-content center

  &__list li:first-child &__link
    background-color var(--white)

  &__list li:not(:first-child) &__link
    color var(--white)

  &__list li:last-child
    color var(--white)
    position relative

  &__list li:last-child::before
    content ''
    width 12px
    height 3px
    position absolute
    right 8px
    background-color var(--white)
    transform rotate(45deg)

  &__list li:last-child::after
    content ''
    width 12px
    height 3px
    position absolute
    right 0
    background-color var(--white)
    transform rotate(-45deg)

</style>
