<template lang="pug">
div
  TheHeader
  TheNavbar
  Nuxt
</template>

<style lang="stylus">
:root
  --black #000000
  --white #ffffff

html
  font-family 'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif
  font-size 18px
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
*,
*::before,
*::after
  box-sizing border-box
  margin 0
ul
  list-style none
  padding 0
a
  text-decoration none
  color var(--black)
img
  display block
  width 100%

.container
  max-width 1400px
  margin 0 auto

.field
  height 40px
  padding-left 40px
  font-size 18px
  border 0
  outline 0

.btn
  height 40px
  border 0
  outline 0
  font-size 18px
  background-color transparent
</style>
